<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1" >
<head>
    <meta charset="UTF-8">
    <title>formPatient</title>
</head>
<body>
<div class="m-3" layout:fragment="content1">
    <form  method="post" th:action="@{/admin/save}">
        <div class="mb-3">
            <label  class="form-label">id</label>
            <input type="text" class="form-control" id="id" name="id" th:value="${patient.id}">
            <label  class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" th:value="${patient.nom}">
            <span class="text text-danger" th:errors="${patient.nom}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Prenom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" th:value="${patient.prenom}">
        </div>
        <div class="mb-3">
            <label  class="form-label">date de naissance</label>
            <<input type="date" class="form-control" id="dateNaissance" name="date" th:value="${patient.date}">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
</body>
</html>