<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>
<div layout:fragment ="content1">
<div class="p-3 m-3">
    <div class = "card">
        <div class="card-header">
            <h3>Patients</h3>
        </div>
        <div class="card-body">
                <form class="form-check-inline m-1" th:action="@{/user/index}" >
                    <label>keyword</label>
                    <input type="text" name = "keyword" th:value="${keyword}"/>
                    <button class="btn btn-outline-info">Search</button>
                </form>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>prenom</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.nom}"></td>
                    <td th:text="${patient.prenom}"></td>
                    <td th:text="${patient.date}"></td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a class="btn btn-danger" th:href="@{/admin/deletePatient(id=${patient.id},keyword = ${keyword},page = ${currentPage})}">Delete</a></td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a class="btn btn-success" th:href="@{/admin/editPatient(id=${patient.id})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status :${pages}">
                    <a th:class="${status.index == currentPage? 'btn btn-info m-1':'btn btn-outline-info m-1'} "  th:text="${status.index}" th:href="@{/user/index(page = ${status.index},keyword = ${keyword})}"></a>
                </li>
            </ul>
            </div>
</div>
    </div>
</div>
</body>
</html>