<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Patients</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>prenom</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.nom}"></td>
        <td th:text="${patient.prenom}"></td>
        <td th:text="${patient.date}"></td>
    </tbody>
</body>
</html>